<ion-header>
  <ion-toolbar color="bg">

    <ion-buttons slot="end">
     
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="a" (click)="settings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button class="a" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>


<ion-content>
  <ion-list >
   <ion-item-divider color="bg">
      <ion-label color="b">
       Utilisateur
      </ion-label>
    </ion-item-divider>

    <ion-item button (click)="addu()">
  
<ion-label class="a1" > Add user</ion-label>


    </ion-item>

    <ion-item lines="full"   button (click)="u()"  >
<ion-label class="a1" > List users  </ion-label>



    </ion-item>

    <ion-item button (click)="delete()"  >


      <ion-label class="a1" > Delete All  </ion-label>
          </ion-item>



  <!-- <ion-list class="a1"> -->
    <ion-item-divider color="bg" lines="full">
      <ion-label color="b">
       Produit
      </ion-label>
    </ion-item-divider>
    <ion-item  button (click)="addp()" >
    <ion-label  class="a2"  >Add product</ion-label>

  </ion-item>
 


  <ion-item  button (click)="p()" >
   
    <ion-label  class="a2"   > List products </ion-label>
  </ion-item>
  <ion-item button (click)="delete()"  >
   
    <ion-label  class="a2"  > Delete All </ion-label>
  </ion-item>
   
  </ion-list>

 
</ion-content>
